*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  }
  
  
  .flex {
    background-color: #659f8f;
    display: flex;
    justify-content: center;
    gap: 20%;
    padding: 5em;
    
    
  }      
    

  .sub, .quick, .tech {
      
      font-family: Arial, sans-serif;
        
        
  }

   .h3 {
    font-size: small;
  }

  .h2 {
    font-size: 18px;
  }

  .list {
    list-style-type: none;
    font-size: small;

  }