*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  }
  
  
  .flex {
    background-color: #659f8f;
    display: flex;
    justify-content: center;
    gap: 20%;
    padding: 5em;
    
    
  }      
    

  .sub, .quick, .tech {
      
      font-family: Arial, sans-serif;
        
        
  }

   .h3 {
    font-size: small;
  }

  .h2 {
    font-size: 18px;
    margin-bottom: 12px;
  }

  .list {
    list-style-type: none;
    font-size: small;

  }

  #email {
    border-radius: 5px;
    width: 45%;
    height: 50%;
  }

  .btn {
    background-color: rgb(170, 72, 36);
    color: white;
    border-radius: 5px;
    width: 20%;
    height: 50%;
  }